<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="keywords" content="<yunu:config name='seo_keywords'>">
    <meta name="description" content="<yunu:config name='seo_description'>">
    <title><yunu:config name="seo_title">-<yunu:config name="site_title"></title>
    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.12.4.min.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/css/yunu.css">
    <link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css">
    <script type="text/javascript" src="__PUBLIC__/js/yunu.js"></script>
</head>
<body>
<include file="public:header" />
    <div class="main container">
        <div class="i_box_tit">
            <span></span>
            <p>在线留言 / CONTACT</p>
        </div>
		<div class="show_guest">
			<div class="fr">
				<p>
					<span>标题</span>
					<input type="text" name="">
				</p>
				<p>
					<span>内容</span>
					<textarea></textarea>
				</p>
				<p>
					<input class="btn" type="submit" name="" value="提交">
				</p>
			</div>
            <div class="guestbook">
                <b><img src="__PUBLIC__/img/liuyan.jpg" alt="图片名"></b>
                <p>
                    <strong>您的宝贵意见将促进我<br/>们更快的进步！</strong>
                </p>
            </div>
		</div>
    </div>
<include file="public:footer" />
</div>
</body>
</html>
